langchain
langchain_community
langchain-text-splitters
langchain-openai
langchain_groq
langchain_core
langserve
langchain_chroma
langchain_huggingface
sentence_transformers
huggingface_hub
faiss-cpu
ipykernel
python-dotenv
pypdf
bs4
pymupdf
wikipedia
arxiv
chromadb
duckdb
duckduckgo-search
streamlit
fastapi
openai
gradio